<span class="lbl2">
    [% | l('<br/>', '<br/>') %]
If this is your first time logging in, use your <strong>student number</strong> without the leading zeroes. If you are a staff person, please <a href="http://brain.mohawkcollege.ca/AbouttheLibrary/LibraryLocations.html">visit the library</a> and we will set up a login for you.
[% END %]
</span>
